<aside class="sidebar sidebar-icons-right sidebar-icons-boxed sidebar-expand-lg">
    <header class="sidebar-header">
        <span class="logo">
            <a href="/home/dashboard">Web App</a>
        </span>
        <span class="sidebar-toggle-fold"></span>
    </header>
    <nav class="sidebar-navigation">
        <ul class="menu">
            <li class="menu-item active">
                <a class="menu-link" href="/home/index">
                    <span class="icon fa fa-home"></span>
                    <span class="title">Main Page</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/property">
                    <span class="title">Properties</span>
                </a>
            </li>
            <li class="menu-item active">
                <a class="menu-link" href="/booking">
                    <span class="title">Create Booking</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>